<div id="outer" %>
  <% @posts.each_with_index do |p, index| %>
    <div id="inner">
      <%= p.user.email %><br>
      <%= p.category.name %><br>
      <%= index + 1%>번째울림<br>
      <%= p.title %><br>
      <%= p.body %><br>
      <%= link_to '더보기', post_path(p.id) %>
    </div>
    <br>
  <% end %>
</div>