<div class="form">
  <%= form_for @post, html: {novalidate: 'novalidate'} do |f| %>
      카테고리:<br>
      <%= f.select :category_id, options_from_collection_for_select((@categories), "id", "name"), {include_blank: '선택해주세요'} %><br>
      <span id="category_message"></span><br>
      제목:<br>
      <%= f.text_field :title, minlength: @minimum_length, size: 20 %><br>

      <span id="title_counter" data-minimum-length="<%= @minimum_length %>"></span><br>
      내용:<br>
      <%= f.text_area :body, maxlength: @maximum_length, rows: 5 %><br>

      최대 200글자: <span id="body_counter" data-maximum-length="<%= @maximum_length %>"></span><br>
      <%= f.submit 'submit' %>
  <% end %>
</div>
<br>
<%= render 'index' %>
<script>
  $(document).ready(function() {
    category_validation();
    title_validation();
    body_validation();
    function title_validation() {
      var title = $("#post_title");
      var title_counter     = $("#title_counter");
      var min_length  = title_counter.data("minimum-length");

      if ((title.val().replace(/ /g,'').length) >= min_length){
        return true;
      }else{
        return false;
      }
    }

    function category_validation() {
      var category = $("#post_category_id");
      if (category.val().length == 1) {
        console.log('true');
        return true;
      }else{
        return false;
      }
    }

    function body_validation() {
      var body = $("#post_body");
      var body_counter     = $("#body_counter");
      var max_length  = body_counter.data("maximum-length");

      body.keyup(function() {
        body_counter.text(max_length - $(this).val().replace(/ /g,'').length);
      });
    }

    $('#new_post').submit(function(){
      var category_message = $("#category_message");
      if(title_validation() && category_validation()){
        console.log('true');
        return true;
      }else{
        category_message.text("카테고리를 선택해주세요!");
        console.log('false');
        return false;
      }
    });

    $('#new_post').submit(function() {
      show_title_validation();
    });

    function show_title_validation() {
      var title = $("#post_title");
      var title_counter     = $("#title_counter");
      var min_length  = title_counter.data("minimum-length");
      if(title_validation()){
        title_counter.text("");
      }else{
        title_counter.text("10글자를 채워주세요!");
      }
      title.keyup(function() {
        var current_length = $(this).val().replace(/ /g, '').length
        var left_length = min_length - current_length
        if(title_validation()) {
          title_counter.text("소중한 강의평가 감사합니다!");
        }else{
          title_counter.text(current_length + '/' + min_length + ' ' + left_length + '글자 남았어요!');
        }
      });
    }
  });


</script>