<%= flash.notice %>
<div class="form">
  <%= form_for @post, html: {novalidate: 'novalidate'} do |f| %>
      제목:<br>
      <%= f.text_field :title, minlength: @minimum_length, size: 20 %><br>

      <span id="title_counter" data-minimum-length="<%= @minimum_length %>"></span><br>
      내용:<br>
      <%= f.text_area :body, maxlength: @maximum_length, rows: 5 %><br>

      최대 200글자: <span id="body_counter" data-maximum-length="<%= @maximum_length %>"></span><br>
      <br>
      <%= f.submit 'submit' %>
  <% end %>
</div>
<br>
<div id="outer" %>
  <% @posts.each_with_index do |p, index| %>
      <div id="inner">
        <%= index + 1%>번째울림<br>
        <%= p.title %><br>
        <%= p.body %><br>
      </div>
      <br>
  <% end %>
</div>