<div class="form">
  <%= form_for @post do |f| %>
      제목:<br>
      <%= f.text_field :title, size: 8 %><br>
      내용:<br>
      <%= f.text_area :body, rows: 5 %><br>
      <%= f.submit 'submit' %>
  <% end %>
</div>
<br>
<div id="outer" %>
  <% @posts.each_with_index do |p, index| %>
      <div id="inner">
        <%= index + 1%>번째울림<br>
        <%= p.title %><br>
        <%= p.body %><br>
      </div>
      <br>
  <% end %>
</div>