<!DOCTYPE html>
<html>
  <head>
    <title>Bamboo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'home', main_path %>
    <%= link_to 'new', new_post_path %>
    <%= yield %>
  </body>
</html>
